#information {
    color: floralwhite;
    font-weight: bolder;
}
#mapContainer{
    width:100%;
    height:50%;
    background-color: #ffffff;
    border-bottom: 7px double black;
}
#map {
    width: 100%;
    height: 100%;
}
.searchBox{
    border-radius: 15px;
    border:2px solid rgba(184, 184, 184, 0.65);
    padding:5px;
    padding-left:10px;
    font-size:16px;
}
#mapSearchBox {
    position:absolute;
    width:25%;
    top:43%;
    left:15px;
    z-index:10;
}
table {
    border: 6px solid #000000;
}
th, td {
    text-align: center;
}
tbody {
    overflow: auto;
    height: 225px;
    background-color: #434343;
}
tr, tbody{
    display: block;
}
.label {
    width:70px;
}
.name {
    width: 700px;
}
.duration {
    width:150px;
}
.delete {
    width: 40px;
}
#durationBox {
    width: 70px;
}
#deleteButton {
    background-color: darkred;
    border:none;
    border-radius: 10px;
    color: silver;
}
.lightbox {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    overflow: scroll;
    padding: 15% 35% 25% 35%;
    color: #000000;
    background-color: rgba(14, 46, 69, 0.6);
    text-align: center;
    text-shadow: #333 0 1px 0;
    z-index: 20;
}
#noPlacesErrorText {
    display: none;
    position: absolute;
    z-index: 10;
    top:78%;
    left: 57%;
}